---

- name: Install packages on Debian OS family
  ansible.builtin.apt:
    name: '{{ item }}'
    update_cache: true
  loop: '{{ rclone_packages }}'
  when: >-
    rclone_packages | length > 0
    and ansible_facts.os_family == 'Debian'

- name: Install packages
  ansible.builtin.package:
    name: '{{ item }}'
    state: present
  loop: '{{ rclone_packages }}'
  when: >-
    rclone_packages | length > 0
    and ansible_facts.os_family != 'Debian'

- name: Remove temporary working directory
  ansible.builtin.file:
    path: "{{ rclone_setup_tmp_dir }}"
    state: absent
  tags:
    - molecule-idempotence-notest

- name: Create temporary working directory
  ansible.builtin.file:
    path: "{{ rclone_setup_tmp_dir }}"
    state: directory
    mode: '0775'
  changed_when: false
  check_mode: false

- name: Do beta install
  ansible.builtin.include_tasks: beta.yml
  when: rclone_release == 'beta'

- name: Do stable install
  ansible.builtin.include_tasks: stable.yml
  when: rclone_release == 'stable'

- name: Get list of files extracted from the rclone archive
  ansible.builtin.find:
    path: "{{ rclone_setup_tmp_dir }}"
    depth: 2
    file_type: directory
  register: rclone_archive

- name: Copy rclone binary
  ansible.builtin.copy:
    src: "{{ rclone_setup_tmp_dir }}/rclone-v{{ rclone_version }}-linux-{{ rclone_arch }}/rclone"
    dest: '{{ rclone_binary_location }}'
    mode: '0755'
    owner: '{{ rclone_binary_owner.OWNER }}'
    group: '{{ rclone_binary_owner.GROUP }}'
    force: true
    remote_src: true

- name: Make dir for local manpages
  ansible.builtin.file:
    path: '{{ rclone_manpages_location }}'
    state: directory
    mode: '0775'
    owner: '{{ rclone_manpages_owner.OWNER }}'
    group: '{{ rclone_manpages_owner.GROUP }}'
  when: install_manpages

- name: Copy rclone manpage
  ansible.builtin.copy:
    src: "{{ rclone_setup_tmp_dir }}/rclone-v{{ rclone_version }}-linux-{{ rclone_arch }}/rclone.1"
    dest: "{{ rclone_manpages_location }}/rclone.1"
    mode: '0644'
    owner: '{{ rclone_manpages_owner.OWNER }}'
    group: '{{ rclone_manpages_owner.GROUP }}'
    force: true
    remote_src: true
  when: install_manpages

- name: Update mandb
  ansible.builtin.command: mandb
  environment:
    MANPATH: "{{ rclone_manpages_location | dirname }}"
  changed_when: false
  when: install_manpages
