[Unit]
Description=RClone Mount Service for {{ item.name }}
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rclone mount '{{ item.remote_name }}':{{ item.remote_path }} {{ item.local_path }} --allow-non-empty {{ item.extra_args }}
ExecStop=/bin/fusermount -u {{ item.local_path }}
Restart=on-failure
User={{ ansible_facts.user_id }}
Group={{ ansible_facts.user_gid }}

[Install]
WantedBy=default.target
