---

name: Molecule

on:  # yamllint disable-line rule:truthy
  push:
    tags_ignore:
      - '*'
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '15 8 8 * *'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: molecule
        uses: robertdebock/molecule-action@4.0.6
        with:
          command: lint
  test:
    needs:
      - lint
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        distros:
          - debian9
          - debian10
          - debian11
          - fedora32
          - fedora33
          - fedora34
          - ubuntu1804
          - ubuntu2004
        releases:
          - stable
          - beta
        versions:
          - "1.56.0"
          - ""
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: molecule
        uses: robertdebock/molecule-action@4.0.6
        env:
          MOLECULE_DISTRO: "${{ matrix.distros }}"
          TEST_RELEASE: "${{ matrix.releases }}"
          TEST_VERSION: "${{ matrix.versions }}"
        with:
          options: parallel
          scenario: ${{ matrix.scenario }}
