---

name: Ansible Molecule

on:  # yamllint disable-line rule:truthy
  push:
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
    paths-ignore:
      - 'README.md'
  schedule:
    - cron: '15 8 8 * *'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6
  test:
    needs:
      - lint
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        distros:
          - debian11
          - debian12
          - fedora39
          - fedora40
          - ubuntu2204
          - ubuntu2404
        releases:
          - stable
          - beta
        versions:
          - "1.67.0"
          - ""
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          path: "${{ github.repository }}"
      - name: Workaround Git Security Warning
        run: |
          # Workaround a bug in github actions:
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: molecule
        uses: robertdebock/molecule-action@6.0.1
        env:
          MOLECULE_DISTRO: "${{ matrix.distros }}"
          TEST_RELEASE: "${{ matrix.releases }}"
          TEST_VERSION: "${{ matrix.versions }}"
        with:
          scenario: ${{ matrix.scenario }}
  test-archlinux:
    needs:
      - lint
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        releases:
          - stable
          - beta
        versions:
          - "1.67.0"
          - ""
    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          path: "${{ github.repository }}"
      - name: Workaround Git Security Warning
        run: |
          # Workaround a bug in github actions:
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: molecule
        uses: robertdebock/molecule-action@6.0.1
        env:
          TEST_RELEASE: "${{ matrix.releases }}"
          TEST_VERSION: "${{ matrix.versions }}"
          MOLECULE_PLATFORM_NAME: rclone-archlinux
        with:
          scenario: ${{ matrix.scenario }}
  release:
    if: github.ref == 'refs/heads/main'
    needs:
      - test
      - test-archlinux
    runs-on: ubuntu-latest
    steps:
      - name: Release to ansible galaxy
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
          git_branch: main
