---

name: Ansible Molecule

on:  # yamllint disable-line rule:truthy
  push:
    tags_ignore:
      - '*'
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '15 8 8 * *'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Run ansible-lint
        uses: ansible/ansible-lint@v6
  test:
    needs:
      - lint
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        distros:
          - debian10
          - debian11
          - debian12
          - fedora34
          - fedora35
          - fedora36
          - ubuntu1804
          - ubuntu2004
          - ubuntu2204
        releases:
          - stable
          - beta
        versions:
          - "1.60.0"
          - ""
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.repository }}"
      - name: Workaround Git Security Warning
        run: |
          # Workaround a bug in github actions:
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
      - name: molecule
        uses: robertdebock/molecule-action@4.0.9
        env:
          MOLECULE_DISTRO: "${{ matrix.distros }}"
          TEST_RELEASE: "${{ matrix.releases }}"
          TEST_VERSION: "${{ matrix.versions }}"
        with:
          scenario: ${{ matrix.scenario }}
  release:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Release to ansible galaxy
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
