---

name: Molecule

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - ci_*
      - pr_*
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - master

jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        distros:
          - centos7
          - centos8
          - debian10
          - debian9
          - fedora32
          - fedora33
          - ubuntu1604
          - ubuntu1804
          - ubuntu2004
        versions:
          - stable
          - beta
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: "${{ github.repository }}"
      - name: Molecule
        uses: robertdebock/molecule-action@2.6.3
        env:
          MOLECULE_DISTRO: "${{ matrix.distros }}"
          TEST_VERSION: "${{ matrix.versions }}"
        with:
          options: parallel
          scenario: ${{ matrix.scenario }}

  release:
    needs:
      - molecule
    runs-on: ubuntu-latest
    steps:
      - name: galaxy
        uses: robertdebock/galaxy-action@1.1.0
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
