---

name: Ansible Molecule

on:  # yamllint disable-line rule:truthy
  push:
    tags_ignore:
      - '*'
    paths-ignore:
      - 'README.md'
  pull_request:
    branches:
      - main
  schedule:
    - cron: '15 8 8 * *'

jobs:
  lint:
    runs-on: ubuntu-20.04
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # needed for progressive mode to work
      - name: ansible-lint
        uses: ansible/ansible-lint-action@main
  test:
    needs:
      - lint
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default
        distros:
          - debian10
          - debian11
          - debian12
          - fedora34
          - fedora35
          - fedora36
          - ubuntu1804
          - ubuntu2004
          - ubuntu2204
        releases:
          - stable
          - beta
        versions:
          - "1.60.0"
          - ""
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          path: "${{ github.repository }}"
      - name: molecule
        uses: robertdebock/molecule-action@5.0.3
        env:
          MOLECULE_DISTRO: "${{ matrix.distros }}"
          TEST_RELEASE: "${{ matrix.releases }}"
          TEST_VERSION: "${{ matrix.versions }}"
        with:
          options: parallel
          scenario: ${{ matrix.scenario }}

  release:
    needs:
      - test
    runs-on: ubuntu-20.04
    steps:
      - name: galaxy
        uses: robertdebock/galaxy-action@1.2.1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
          git_branch: main
        if: ${{ github.ref == 'refs/heads/main' }}
